.nav-list-item{
    list-style: none;
    display: flex;
    height: 50px;
    border-bottom: 1px solid #31313160 ;
    align-items: center;
    padding-left: 20px;
    transition: transform 0.3s ease;
}
.nav-list-item i{
    font-size: 20px;
}

.nav-list-item:hover, .nav-list-item:hover span a {
    color: #ff8084;
    transform: translateX(-15px);
}
.nav-list{
    height: 100%;
    padding: 0%;
    /* padding-left: ; */
    color: #313131;
    opacity: 0.8;

}

span a{
    color: #313131;
    padding-left: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* letter-spacing: ; */
    
}

.nav-list-item span{
    width: 170px;
}