app-heade{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-menu {
    position: absolute;
    left: 0rem;
    width: 250px;
    height: calc(100vh - 4rem);
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5); /* Chỉ đổ bóng bên phải */
    white-space: nowrap;
}

.display-area{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.display-area-shrink{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}
.app-side-nav-open{
    width: 250px;
}